@import 'base';

#main-section {
  position: relative;
  height: 100vh;
  background: url('../assets/background.jpg');
  background-size: cover;

  i.fa-bars {
    display: none;

    @include media-sm {
      display: block;
    }

    &:hover {
      cursor: pointer;
    }
  }

  nav {
    @include center;

    @include media-md {
      padding: 20px 25px;
    }

    @include media-sm {
      display: none;
    }

    justify-content: space-between;
    padding: 20px 100px;
    position: absolute;
    z-index: 99;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);

    #logo {
      font-size: 1.8rem;

      &:hover {
        cursor: pointer;
      }
    }

    #cocktails-list {
      @include center;

      justify-content: space-between;
      width: 30%;
      min-width: 500px;
      font-size: 1.8rem;

      @include media-md {
        min-width: 380px;
      }

      span:hover {
        cursor: pointer;
      }

      fieldset {
        @include center;

        gap: 10px;
        justify-content: flex-end;
        border: none;
        width: 100%;

        @include media-md {
          width: 50%;
        }

        input {
          width: 60%;
          border: none;
          padding: 5px 10px;
          font-size: 1rem;
          border-radius: 10px;

          @include media-md {
            width: 100%;
          }

          &:focus {
            outline: none;
          }
        }

        i {
          font-size: 1.3rem;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  h1 {
    font-size: 12rem;
    letter-spacing: 5px;
    position: absolute;
    top: 60%;
    left: 3%;
    z-index: 99;
  }

  #mask-div {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(37, 37, 37, 0.1);
  }
}
