*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

#main-section {
  position: relative;
  height: 100vh;
  background: url("../assets/background.jpg");
  background-size: cover;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #main-section {
    background-position: 35%;
  }
}

@media (max-width: 600px) {
  #main-section {
    background-position: 35%;
  }
}

#main-section i.fa-bars {
  display: none;
}

@media (max-width: 600px) {
  #main-section i.fa-bars {
    display: block;
    padding: 20px;
    font-size: 2rem;
  }
}

#main-section i.fa-bars:hover {
  cursor: pointer;
}

#main-section nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 100px;
  position: absolute;
  z-index: 99;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 601px) and (max-width: 1200px) {
  #main-section nav {
    padding: 20px 25px;
  }
}

@media (max-width: 600px) {
  #main-section nav {
    display: none;
  }
}

#main-section nav #logo {
  font-size: 1.8rem;
}

#main-section nav #logo:hover {
  cursor: pointer;
}

#main-section nav #cocktails-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  min-width: 500px;
  font-size: 1.8rem;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #main-section nav #cocktails-list {
    min-width: 380px;
  }
}

#main-section nav #cocktails-list span:hover {
  cursor: pointer;
}

#main-section nav #cocktails-list fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: none;
  width: 100%;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #main-section nav #cocktails-list fieldset {
    width: 50%;
  }
}

#main-section nav #cocktails-list fieldset input {
  width: 60%;
  border: none;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 10px;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #main-section nav #cocktails-list fieldset input {
    width: 100%;
  }
}

#main-section nav #cocktails-list fieldset input:focus {
  outline: none;
}

#main-section nav #cocktails-list fieldset i {
  font-size: 1.3rem;
}

#main-section nav #cocktails-list fieldset i:hover {
  cursor: pointer;
}

#main-section h1 {
  font-size: 12rem;
  letter-spacing: 5px;
  position: absolute;
  top: 60%;
  left: 3%;
  z-index: 99;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #main-section h1 {
    font-size: 8rem;
  }
}

@media (max-width: 600px) {
  #main-section h1 {
    font-size: 4rem;
    top: 63%;
  }
}

#main-section #mask-div {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(37, 37, 37, 0.1);
}
/*# sourceMappingURL=style.css.map */