*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  background: #000;
}

.mobile-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  background: rgba(0, 0, 0, 0.9);
  padding: 25px 0;
  width: 100%;
}

.mobile-div #mobile-logo {
  font-size: 1.8rem;
}

.mobile-div #mobile-cocktails-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  font-size: 1.8rem;
  z-index: 99;
}

.mobile-div #mobile-cocktails-list span:hover {
  cursor: pointer;
}

.mobile-div #mobile-cocktails-list fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  border: none;
}

.mobile-div #mobile-cocktails-list fieldset input {
  padding: 8px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.mobile-div #mobile-cocktails-list fieldset input:focus {
  outline: none;
}

.mobile-div #mobile-cocktails-list fieldset i {
  font-size: 1.5rem;
}

.mobile-div #mobile-cocktails-list fieldset i:hover {
  cursor: pointer;
}

#main-section {
  position: relative;
  height: 100vh;
  background: url("../assets/background.jpg");
  background-size: cover;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #main-section {
    background-position: 35%;
  }
}

@media (max-width: 600px) {
  #main-section {
    background-position: 35%;
  }
}

#main-section #mobile-menu {
  display: none;
}

@media (max-width: 600px) {
  #main-section #mobile-menu {
    display: block;
    font-size: 2rem;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
  }
  #main-section #mobile-menu:hover {
    cursor: pointer;
  }
}

#main-section nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 100px;
  position: absolute;
  z-index: 99;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 601px) and (max-width: 1200px) {
  #main-section nav {
    padding: 20px 25px;
  }
}

@media (max-width: 600px) {
  #main-section nav {
    display: none;
  }
}

#main-section nav #logo {
  font-size: 1.8rem;
}

#main-section nav #logo:hover {
  cursor: pointer;
}

#main-section nav #cocktails-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  min-width: 500px;
  font-size: 1.8rem;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #main-section nav #cocktails-list {
    min-width: 380px;
  }
}

#main-section nav #cocktails-list span:hover {
  cursor: pointer;
}

#main-section nav #cocktails-list fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: none;
  width: 100%;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #main-section nav #cocktails-list fieldset {
    width: 50%;
  }
}

#main-section nav #cocktails-list fieldset input {
  width: 60%;
  border: none;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 10px;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #main-section nav #cocktails-list fieldset input {
    width: 100%;
  }
}

#main-section nav #cocktails-list fieldset input:focus {
  outline: none;
}

#main-section nav #cocktails-list fieldset i {
  font-size: 1.3rem;
}

#main-section nav #cocktails-list fieldset i:hover {
  cursor: pointer;
}

#main-section h1 {
  font-size: 12rem;
  letter-spacing: 5px;
  position: absolute;
  top: 60%;
  left: 3%;
  z-index: 99;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #main-section h1 {
    font-size: 8rem;
  }
}

@media (max-width: 600px) {
  #main-section h1 {
    font-size: 4rem;
    top: 63%;
  }
}

#main-section #mask-div {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(37, 37, 37, 0.1);
}

.nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.menu {
  font-size: 2rem;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}

.menu:hover {
  cursor: pointer;
}

#categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: #000;
}

@media (max-width: 600px) {
  #categories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }
}

#categories .fa-arrow-left {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 2rem;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #categories .fa-arrow-left {
    left: 3%;
  }
}

@media (max-width: 600px) {
  #categories .fa-arrow-left {
    position: relative;
    top: 0;
    left: 0;
    font-size: 1.5rem;
  }
}

#categories .fa-arrow-left:hover {
  cursor: pointer;
}

#categories #grid-container {
  width: 80vw;
  max-width: 1600px;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  row-gap: 30px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #categories #grid-container {
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media (max-width: 600px) {
  #categories #grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    row-gap: 15px;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    width: 90%;
    height: 100%;
  }
}

#categories #grid-container .drinks {
  position: relative;
}

#categories #grid-container .drinks h2 {
  position: absolute;
  bottom: 10%;
  right: 5%;
  z-index: 99;
  font-size: 2.2rem;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #categories #grid-container .drinks h2 {
    font-size: 1.8rem;
    left: 0;
    padding: 8px;
  }
}

@media (max-width: 600px) {
  #categories #grid-container .drinks h2 {
    font-size: 1rem;
    left: 0;
    bottom: 5%;
    padding: 5px;
  }
}

#categories #grid-container .drinks .image-mask,
#categories #grid-container .drinks .image-mask2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

#categories #grid-container .drinks .image-mask {
  background: rgba(112, 112, 112, 0.5);
}

#categories #grid-container .drinks .image-mask2 {
  background: rgba(81, 128, 77, 0.3);
}

#categories #grid-container .drinks:hover {
  cursor: pointer;
}

#categories #grid-container .drinks:hover h2,
#categories #grid-container .drinks:hover .image-mask,
#categories #grid-container .drinks:hover .image-mask2 {
  visibility: hidden;
}

#categories #grid-container .drinks img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

#categories #grid-container #cocktail-drinks {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #categories #grid-container #cocktail-drinks {
    grid-column: 1 / -1;
  }
}

@media (max-width: 600px) {
  #categories #grid-container #cocktail-drinks {
    grid-column: 1 / -1;
  }
}

#categories #grid-container #cocktail-drinks img {
  -o-object-position: top;
     object-position: top;
}

#categories #grid-container #cocktail-drinks h2 {
  font-size: 8rem;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #categories #grid-container #cocktail-drinks h2 {
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  #categories #grid-container #cocktail-drinks h2 {
    font-size: 2rem;
  }
}

#categories #grid-container #ordinary-drinks {
  -ms-grid-row: 1;
  grid-row: 1;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #categories #grid-container #ordinary-drinks {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  #categories #grid-container #ordinary-drinks img {
    -o-object-position: 5% 40%;
       object-position: 5% 40%;
  }
}

@media (max-width: 600px) {
  #categories #grid-container #ordinary-drinks {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  #categories #grid-container #alcoholic-drinks {
    grid-column: 2 / -1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  #categories #grid-container #alcoholic-drinks img {
    -o-object-position: 5% 15%;
       object-position: 5% 15%;
  }
}

@media (max-width: 600px) {
  #categories #grid-container #alcoholic-drinks {
    grid-column: 2 / -1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  #categories #grid-container #non-alcoholic-drinks {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

#categories #grid-container #non-alcoholic-drinks img {
  -o-object-position: 0 70%;
     object-position: 0 70%;
}

@media (min-width: 601px) and (max-width: 1200px) {
  #categories #grid-container #liqueur-drinks {
    grid-column: 3 / -1;
    -ms-grid-row: 5;
    grid-row: 5;
  }
}

@media (max-width: 600px) {
  #categories #grid-container #liqueur-drinks {
    grid-column: 1 / -1;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  #categories #grid-container #liqueur-drinks img {
    -o-object-position: 5% 50%;
       object-position: 5% 50%;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  #categories #grid-container #shot-drinks {
    grid-column: 1 / -1;
  }
  #categories #grid-container #shot-drinks img {
    -o-object-position: 5% 25%;
       object-position: 5% 25%;
  }
}

#cocktails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
}

@media (max-width: 600px) {
  #cocktails {
    padding: 15px;
  }
}

#cocktails #cocktails-arrow {
  position: -webkit-sticky;
  position: sticky;
  top: 3%;
  left: 5%;
}

@media (max-width: 600px) {
  #cocktails #cocktails-arrow {
    font-size: 1.5rem;
  }
}

#cocktails #cocktails-arrow:hover {
  cursor: pointer;
}

#cocktails .cocktails-grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

@media (max-width: 600px) {
  #cocktails .cocktails-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  #cocktails .cocktails-grid .cocktails {
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  #cocktails .cocktails-grid .cocktails .cocktails-image {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 600px) {
  #cocktails .cocktails-grid .cocktails h2 {
    font-size: 1.2rem;
    width: 250px;
    text-align: center;
    margin-top: 10px;
  }
}

#details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #000;
  color: #fff;
  height: 100vh;
  padding: 20px;
}

#details #details-arrow {
  font-size: 1.5rem;
  color: #fff;
}

#details #details-arrow:hover {
  cursor: pointer;
}

#details .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding-bottom: 50px;
}

#details .details .details-image {
  width: 250px;
  height: 250px;
}

#details .details h2 {
  color: #5d925c;
}

@media (max-width: 600px) {
  #details .details h2 {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media (max-width: 600px) {
  #details .details p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.2;
    width: 90%;
  }
}

@media (max-width: 600px) {
  #details .details h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  #details .details ul {
    font-size: 1.2rem;
  }
}

#details .details ul li {
  list-style-type: square;
  font-style: italic;
  line-height: 1.2;
}

@media (max-width: 600px) {
  .error {
    padding: 20px;
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=style.css.map */